@media (max-width: 375px) {
  .body {
    margin: 0vw;
    padding: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Rubik', sans-serif;
  }
  .body .header {
    padding: 6vw 0vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
  }
  .body .header .empresa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    z-index: 1;
    margin: auto 0vw;
  }
  .body .header .empresa a {
    cursor: pointer;
  }
  .body .header .empresa a .logoBookmark {
    height: 6vw;
    margin: auto;
  }
  .body .header .navegacion {
    height: auto;
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 0vw;
    top: 25.1vw;
  }
  .body .header .navegacion .lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 5;
    margin-top: -6vw;
    padding: 0vw;
    width: 100%;
  }
  .body .header .navegacion .lista li {
    padding: 0vw 2vw;
    width: 80%;
    margin-top: 0vw;
    margin-bottom: 0vw;
  }
  .body .header .navegacion .lista li .enlaceNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5vw;
    padding: 6vw 0vw;
    color: #ffffff;
    border-bottom: 1px solid #a9aaaf;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .header .navegacion .lista li .enlaceNav:hover {
    font-size: 5vw;
    color: #ffffff;
  }
  .body .header .navegacion .lista li .enlaceNavLogin {
    font-size: 5vw;
    margin: 4vw;
    padding: 3vw 41%;
    color: #ffffff;
    background: none;
    border: 3px solid #ffffff;
    border-radius: 2vw;
  }
  .body .header .navegacion .lista li .enlaceNavLogin:hover {
    color: #2f354fdc;
    background: #ffffff;
  }
  .body .header .navegacion .rrssContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    margin-top: -4.4vw;
    padding: 30vw 30vw 100vw 30vw;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .body .header .navegacion .rrssContainer .socialRed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body .header .navegacion .backgroundMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 300vw;
    top: 0;
    background: #2f354fdc;
  }
  .body .header .navegacionMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
  }
  .body .header .navegacionMobile .hamburger {
    width: 5.5vw;
  }
  .body .header .navegacionMobile .plusMobile {
    width: 5.5vw;
  }
  .body .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding: 4vw 0vw;
  }
  .body .hero .infoHero {
    width: 80%;
    padding: 10% 0%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .body .hero .infoHero .titleHero {
    font-size: 7vw;
    font-weight: 500;
    margin: auto;
    text-align: center;
  }
  .body .hero .infoHero .textHero {
    font-size: 4vw;
    color: #a9aaaf;
    text-align: center;
    line-height: 6vw;
  }
  .body .hero .infoHero .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 2vw;
    margin: auto;
  }
  .body .hero .infoHero .buttons .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3vw;
    padding: 3vw 4.5vw;
    border-radius: 1.5vw;
    margin: 0vw 2.5vw;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
  }
  .body .hero .infoHero .buttons .dark {
    background: #5367da;
    color: #ffffff;
    border: 1px solid #5367da;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .hero .infoHero .buttons .dark:hover {
    cursor: pointer;
    background: #fffeff;
    color: #6466bb;
    border: 1px solid #666caa;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .hero .infoHero .buttons .clear {
    background: #f7f7f7;
    color: #5e5e68;
    border: 1px solid #f7f7f7;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .hero .infoHero .buttons .clear:hover {
    cursor: pointer;
    background: #fffeff;
    color: #8c8c98;
    border: 1px solid #5e5f71;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .hero .divImageHero {
    border: 0px solid #000000;
  }
  .body .hero .divImageHero .imageHero {
    position: relative;
    width: 100%;
    padding-right: 0vw;
    padding-left: 0vw;
    padding-bottom: 4vw;
    background: none;
    z-index: 4;
  }
  .body .hero .divImageHero .backgroundImageHero {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55vw;
    margin: -57vw auto auto 10%;
  }
  .body .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 18vw 0vw 4vw 0vw;
    margin: auto;
  }
  .body .features .infoFeatures {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .body .features .infoFeatures .titleFeatures {
    font-size: 6vw;
    font-weight: 500;
    margin: auto;
  }
  .body .features .infoFeatures .textFeatures {
    font-size: 4vw;
    color: #a9aaaf;
    margin: auto;
    padding-top: 2vw;
    width: 82%;
    text-align: center;
    line-height: 5vw;
  }
  .body .features .infoFeatures .optionsFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5vw;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 0vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 5vw;
    border-top: 1px solid #85858d;
    border-bottom: none;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures .itemListFeatures {
    list-style: none;
    width: 98%;
    color: #85858d;
    margin: auto;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 4vw 0vw;
    border-bottom: 1px solid #85858d;
    font-size: 4vw;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures .itemListFeatures:hover {
    cursor: pointer;
    color: #fb5859;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures .tab1 {
    font-weight: bold;
    color: #2a2b3f;
    border-bottom: 4px solid #fd5957;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures .tab2 {
    font-weight: 400;
    color: #85858d;
    border-bottom: 1px solid #85858d;
  }
  .body .features .infoFeatures .optionsFeatures .listOptionsFeatures .tab3 {
    font-weight: 400;
    color: #85858d;
    border-bottom: 1px solid #85858d;
  }
  .body .features .infoFeatures .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 2vw;
  }
  .body .features .infoFeatures .buttons .button {
    font-size: 1vw;
    padding: 1vw 1.5vw;
    border-radius: .5vw;
    margin-right: 1.4vw;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
  }
  .body .features .infoFeatures .buttons .dark {
    background: #5367da;
    color: #ffffff;
    border: 1px solid #5367da;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .infoFeatures .buttons .dark:hover {
    cursor: pointer;
    background: #fffeff;
    color: #6466bb;
    border: 1px solid #666caa;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .containerTabsFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 18vw 0vw;
  }
  .body .features .containerTabsFeatures .tabsFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: auto;
  }
  .body .features .containerTabsFeatures .tabsFeatures .divImageFeatures {
    border: 0px solid #000000;
    width: 80%;
  }
  .body .features .containerTabsFeatures .tabsFeatures .divImageFeatures .imageFeatures {
    position: relative;
    width: 100%;
    padding-right: 0vw;
    padding-bottom: 4vw;
    background: none;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 17vw;
  }
  .body .features .containerTabsFeatures .tabsFeatures .divImageFeatures .backgroundImageFeatures {
    position: relative;
    width: 100%;
    height: 52vw;
    background: #5266df;
    z-index: 3;
    margin: -45vw 6vw 0vw 0vw;
    border-radius: 0px 0px 100px 0px;
    -moz-border-radius: 0px 0px 100px 0px;
    -webkit-border-radius: 0px 0px 100px 0px;
    border: 0px solid #000000;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0vw;
    margin-top: 8vw;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .titleTabsFeatures {
    font-size: 5vw;
    font-weight: bolder;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .textTabsFeatures {
    font-size: 4vw;
    color: #a9aaaf;
    width: 84%;
    margin: auto;
    padding-top: 2vw;
    text-align: center;
    line-height: 7vw;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5vw;
    margin: auto;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons .button {
    font-size: 4vw;
    padding: 3vw 4.5vw;
    border-radius: 1.5vw;
    margin-right: 1.4vw;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons .dark {
    background: #5367da;
    color: #ffffff;
    border: 1px solid #5367da;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons .dark:hover {
    cursor: pointer;
    background: #fffeff;
    color: #6466bb;
    border: 1px solid #666caa;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons .clear {
    background: #f7f7f7;
    color: #5e5e68;
    border: 1px solid #f7f7f7;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .containerTabsFeatures .tabsFeatures .infoTabFeatures .buttons .clear:hover {
    cursor: pointer;
    background: #fffeff;
    color: #8c8c98;
    border: 1px solid #5e5f71;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .features .containerTabsFeatures .containerTab1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body .features .containerTabsFeatures .containerTab2 {
    display: none;
  }
  .body .features .containerTabsFeatures .containerTab3 {
    display: none;
  }
  .body .downloadExtension {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 3vw 0vw;
    margin: auto;
  }
  .body .downloadExtension .infoExtensions {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions {
    width: 100%;
    padding-top: 10vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose {
    margin: auto;
    text-align: center;
    width: 100%;
    margin: 10vw 0vw;
    height: auto;
    padding: 0vw;
    -webkit-box-shadow: 0px 30px 40px 9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 30px 40px 9px rgba(0, 0, 0, 0.15);
    border-radius: 3vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionInfo {
    border-bottom: 3px dotted #bebebe4b;
    padding: 1vw 0vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionInfo .extensionLogo {
    width: 22vw;
    padding-top: 10vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionInfo .addExtension {
    font-size: 4vw;
    font-weight: bolder;
    color: #2c353e;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionInfo .versionExtension {
    font-size: 3vw;
    color: #a4a5aa;
    padding-bottom: 4vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 19vw;
    margin: auto;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0vw;
    text-align: center;
    margin: auto;
    height: auto;
    vertical-align: center;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons .button {
    font-size: 3.2vw;
    padding: 3vw 5.5vw;
    border-radius: 1.5vw;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons .dark {
    background: #5367da;
    color: #ffffff;
    border: 1px solid #5367da;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons .dark:hover {
    cursor: pointer;
    background: #fffeff;
    color: #6466bb;
    border: 1px solid #666caa;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons .clear {
    background: #f7f7f7;
    color: #5e5e68;
    border: 1px solid #f7f7f7;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionsExtensionsChoose .extensionCTA .buttons .clear:hover {
    cursor: pointer;
    background: #fffeff;
    color: #8c8c98;
    border: 1px solid #5e5f71;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionOne {
    margin: 0vw 0vw 4vw 0vw;
  }
  .body .downloadExtension .infoExtensions .optionsExtensions .optionsExtensionsContainer .optionThree {
    margin: 4vw 0vw 0vw 0vw;
  }
  .body .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 6vw 0vw;
    margin: auto;
  }
  .body .faq .faqInfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding-top: 20vw;
  }
  .body .faq .faqInfo .titles {
    width: 50%;
    text-align: center;
  }
  .body .faq .faqAndAnswers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    padding-top: 20vw;
    margin: auto;
    border-bottom: 1px solid #dfdfdf;
  }
  .body .faq .faqAndAnswers .faqAndAnswersContainer {
    border-bottom: 1px solid #dfdfdf;
    border-top: none;
    padding-top: 3vw;
  }
  .body .faq .faqAndAnswers .faqAndAnswersContainer .questionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    border-top: none;
    padding-top: 1vw;
  }
  .body .faq .faqAndAnswers .faqAndAnswersContainer .questionContainer .questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto 0vw;
    color: #2d2c3c;
    font-size: 3.4vw;
  }
  .body .faq .faqAndAnswers .faqAndAnswersContainer .questionContainer .showAnswers {
    width: 3.6vw;
    height: 3vw;
  }
  .body .faq .faqAndAnswers .faqAndAnswersContainer .answers {
    padding-top: 1vw;
    color: #797c83;
    line-height: 6vw;
    font-size: 3.4vw;
  }
  .body .faq .buttonsAnswers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 12vw 0vw;
    width: 100%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body .faq .buttonsAnswers .button {
    font-size: 4vw;
    padding: 3vw 4.5vw;
    border-radius: 1.5vw;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
  }
  .body .faq .buttonsAnswers .dark {
    background: #5367da;
    color: #ffffff;
    border: 1px solid #5367da;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .faq .buttonsAnswers .dark:hover {
    cursor: pointer;
    background: #fffeff;
    color: #6466bb;
    border: 1px solid #666caa;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .formulario {
    background: #5266df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12vw 0vw;
  }
  .body .formulario .joinedForm {
    color: #ffffff;
    margin: auto;
    padding: 1vw 0vw;
    font-size: 3vw;
  }
  .body .formulario .joinedTitle {
    width: 75%;
    color: #ffffff;
    margin: auto;
    padding: 1vw 0vw;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
  }
  .body .formulario .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    margin: auto;
    padding: 4vw 0vw;
  }
  .body .formulario .submit .inputSubmit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    height: 8vw;
    margin-right: 1vw;
    border-radius: .3vw;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 5px 5px 5px 5px;
    color: #d3d3d3;
    font-size: 12px;
    padding: 0vw 2vw;
    text-align: center;
  }
  .body .formulario .submit .buttonSubmit {
    text-decoration: none;
    color: #ffffff;
    font-size: 4vw;
    background-color: #fb5859;
    padding: 1vw 2.4vw;
    border-radius: 2vw;
    border: 1px solid #fb5859;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 3px 23px 4px rgba(0, 0, 0, 0.17);
    width: 80vw;
    height: 6vw;
    margin-top: 5vw;
    text-align: center;
  }
  .body .formulario .submit .buttonSubmit:hover {
    cursor: pointer;
    color: #fb5859;
    background-color: #ffffff;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .body .footer {
    background: #242946;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
    margin: 0vw;
    padding: 5vw 0vw;
  }
  .body .footer .footerInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin: auto 0vw;
    vertical-align: center;
  }
  .body .footer .footerInfo .empresaFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    z-index: 1;
    margin: auto 0vw;
  }
  .body .footer .footerInfo .empresaFooter a {
    margin: 2vw 0vw;
  }
  .body .footer .footerInfo .empresaFooter a img {
    color: #ffffff;
  }
  .body .footer .footerInfo .navegacionFooter .listaFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0vw;
    padding: 2vw 0vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .footer .footerInfo .navegacionFooter .listaFooter li {
    list-style: none;
    width: 100%;
    font-size: 5vw;
    margin: auto;
    text-align: center;
    padding: 2vw 0vw;
  }
  .body .footer .footerInfo .navegacionFooter .listaFooter li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 3.6vw;
    padding: 2vw 0vw;
  }
  .body .footer .rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .footer .rrss a {
    margin-left: 2vw;
  }
  .body .footer .rrss a img {
    padding: 4vw;
  }
  .body .titles {
    font-size: 5vw;
    font-weight: bolder;
    margin: auto;
  }
  .body .texts {
    font-size: 4vw;
    color: #a9aaaf;
    margin: auto;
    padding-top: 2vw;
    width: 80%;
    text-align: center;
    line-height: 7vw;
  }
}
/*# sourceMappingURL=small.css.map */